body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* form div {
  margin: 1em;
  display: inline-block;
} */

.product-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  margin-top: 50px;
}
